@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply w-full p-3 text-white bg-indigo-600 hover:bg-indigo-700 rounded-md focus:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 capitalize;
}

.form-label {
  @apply text-sm text-gray-600 capitalize;
}

.credit-card-label {
  @apply font-light text-sm;
}

.credit-card-input {
  @apply font-bold text-xl font-mono text-gray-700;
}

.card-container {
  perspective: 2000px;
  backface-visibility: hidden;
}

.card {
  transform-style: preserve-3d;
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.is-flipped {
  transform: rotateY(180deg);
}
